# Python Basics contd.. : examples of in-built functions

integer -> whole number (1,2,3,1000)

float -> decimal values (1.3,0.3,0.003)

string -> ordered sequence of char("s",360, True, False)

In [2]:
print(23) # integer

23

In [3]:
print("Python session") # string

Python session

#### Mathematical Operators

In [4]:
2+4

6

In [5]:
2-4

-2

#### Variable declaration # we declare variable to store output value

In [6]:
x = 4
y = 5
z = x+y
print(z)

9

In [7]:
type(z) # checking data type

int

In [8]:
a = 1.2
type(a)

float

In [9]:
al = 'python'
type(al)

str

#### Complex Number

In [10]:
cmpl = 2+3j
type(cmpl)

complex

#### Boolean Type

In [11]:
type(True)

bool

In [12]:
type(False)

bool

In [13]:
cmpl = 2+3H  #alphabet cannot be capital
type(cmpl)

SyntaxError: invalid syntax (<ipython-input-13-8bcd8d52f019>, line 1)

#### String

In [15]:
a = "This is introduction to Python session"

In [16]:
print(a)

This is introduction to Python session

In [17]:
type(a)

str

In [18]:
len(a) #spaces are also counted in length, index in python starts from 0

38

In [19]:
print(a[0])

T

In [20]:
print(a[3])

s

In [21]:
print(a[1:5]) # the last no. is not taken in range

his

In [22]:
print(a[1:6])

his i

In [23]:
print(a[-1])

n

In [24]:
print(a[-3:-1]) #here it is taking from last index value

io

### String Manipulation

In [26]:
i = 1
a1 = ("this is python session" + (i) + "to you") # its throwing error coz here i contains the int value and not string

TypeError: can only concatenate str (not "int") to str

In [ ]:
i = 1
a1 = ("this is python session " + str(i) + " to you")  # converting i to string data type will accept the value
print(a1)

In [ ]:
i = input("pls enter the session number")
a1 = ("this is python session "+ str(i) + " to you")
print(a1)

In [ ]:
i1 = input("")
print(i1)

In [ ]:
i1 = input("plz enter the session number : ")   # here int is stopping user to enter strings but only enter integer values.
a11 = ("this is python session "+ str(i1) + " to you")
print(a11)

In [ ]:
i1 = int(input("plz enter the session number : "))
a11 = ("this is python session "+ str(i1) + " to you")
print(a11)

In [27]:
i1 = int(input("plz enter the session number : "))
a11 = ("this is python session "+ str(i1) + " to you")
print(a11)

plz enter the session number : 999
this is python session 999 to you

In [28]:
name = str(input("Please enter your name : "))
session = int(input(" Please enter your session No. "))
print("This is "+name +" and this is python session No."+ str(session) + " to you")  # here we are putting str with session to convert it to str from int as str and str can only be concatenated

Please enter your name : Karuna
 Please enter your session No. 9999
This is Karuna and this is python session No.9999 to you

In [29]:
name = str(input("Please enter your Name : "))
session = int(input(" Please enter your session No. "))
print("This is {} and this is python session No. {} to you".format(name,session))

Please enter your Name : Karuna
 Please enter your session No. 9991
This is Karuna and this is python session No. 9991 to you

In [30]:
name = str(input("Please enter your Name : "))
session = int(input(" Please enter your session No. "))
print("This is {} and this is python session No. {} to you".format(session,name))

Please enter your Name : Karuna Singh
 Please enter your session No. 9998
This is 9998 and this is python session No. Karuna Singh to you

In [31]:
name = str(input("Please enter your Name : "))
session = int(input(" Please enter your session No. "))
print("This is {n} and this is python session No. {s} to you".format(n=name,s=session))

Please enter your Name : Karuna S
 Please enter your session No. 5899
This is Karuna S and this is python session No. 5899 to you

In [32]:
a = "this is introduction to Python session"

In [33]:
a.capitalize()

'This is introduction to python session'

In [34]:
a2 = a.upper()
a2

'THIS IS INTRODUCTION TO PYTHON SESSION'

In [35]:
a3 = a2.lower()
a3

'this is introduction to python session'

In [36]:
an = "this is Karuna and this is python session No.2 to you"
an.isalnum() # The isalnum() returns True if all the characters are alphanumeric.

False

In [37]:
anl = "this is alpha 2"
anl.isalnum()

False

In [42]:
anl = 1,"srtt"
anl.isalnum() # it doesn't work with Tuple

AttributeError: 'tuple' object has no attribute 'isalnum'

In [44]:
anl1 = "Max10"
type(anl1)

str

In [45]:
b = "this is Karuna and this is python session no.2 to you"
b

'this is Karuna and this is python session no.2 to you'

In [46]:
d = b.replace("Karuna","Kammy")
d

'this is Kammy and this is python session no.2 to you'

In [47]:
d1 = b.replace('is','was',1)
d1

'thwas is Karuna and this is python session no.2 to you'

In [48]:
split = "Line1-abcde Line2-abc \nLine4-abcd"  
split

'Line1-abcde Line2-abc \nLine4-abcd'

In [49]:
print(split.split()) #here spaces are replace with comma, i.e split is done

['Line1-abcde', 'Line2-abc', 'Line4-abcd']

In [50]:
print(split.split('-')) # here  split is done at'-'

['Line1', 'abcde Line2', 'abc \nLine4', 'abcd']

In [51]:
print(split.split('\n')) # here  split is done at ''\n'

['Line1-abcde Line2-abc ', 'Line4-abcd']

# Lists

Ordered sequence of objects, it can be an integer, a string, a complx, a boolean, a float.

In [56]:
list1 = ["python", 23, 0.3, True, 3+3j,[1,2,3]]

In [57]:
list1[0]

'python'

In [58]:
list1[2]

0.3

In [59]:
list1[5]

[1, 2, 3]

#### append in list

In [60]:
list1[5][2]=2

In [61]:
list1

['python', 23, 0.3, True, (3+3j), [1, 2, 2]]

In [62]:
list1[5][2] # here 5th element has a different lit'[1,2,3], this list has its own index, i.e 0,1,2

2

In [63]:
list1.append(222)
list1

['python', 23, 0.3, True, (3+3j), [1, 2, 2], 222]

In [64]:
list1.append([21,22])
list1

['python', 23, 0.3, True, (3+3j), [1, 2, 2], 222, [21, 22]]

#### pop function is used to remove a value from a list

In [65]:
list1.pop() # last value is removed
list1

['python', 23, 0.3, True, (3+3j), [1, 2, 2], 222]

In [66]:
list1.pop(4) # 4th element is popped out
list1

['python', 23, 0.3, True, [1, 2, 2], 222]

#### insert

In [67]:
list1.insert(3,2009)
list1

['python', 23, 0.3, 2009, True, [1, 2, 2], 222]

In [68]:
list1.insert(4,2010)
list1

['python', 23, 0.3, 2009, 2010, True, [1, 2, 2], 222]

#### append

In [69]:
list1.append("Karuna1") #adds the element at the end
print(list1)

['python', 23, 0.3, 2009, 2010, True, [1, 2, 2], 222, 'Karuna1']

#### extend

In [70]:
list1.extend("Karuna2") # here element is added whole string as single item
print(list1)

['python', 23, 0.3, 2009, 2010, True, [1, 2, 2], 222, 'Karuna1', 'K', 'a', 'r', 'u', 'n', 'a', '2']

#### reverse

In [71]:
print(list1.reverse())
list1

None

['2',
 'a',
 'n',
 'u',
 'r',
 'a',
 'K',
 'Karuna1',
 222,
 [1, 2, 2],
 True,
 2010,
 2009,
 0.3,
 23,
 'python']

In [72]:
print(list1.count(23))

1

In [73]:
print(list1.count("python"))

1

In [74]:
print(list1.count([1,2,2]))

1

In [75]:
list2 = list1[6]
list3 = [3,2,1]
print(list3)

[3, 2, 1]

In [76]:
list3

[3, 2, 1]

In [79]:
type(list2)

str

In [80]:
type(list3)

list

In [77]:
list4 = list2+list3 #same data type can only be added
print(list4)

TypeError: can only concatenate str (not "list") to str

In [81]:
list5 = list3*3  # here all the elements are created 3times
list5

[3, 2, 1, 3, 2, 1, 3, 2, 1]

### Tuple

In [91]:
tup = ("python", 23, 0.3, True, 3+3j,[1,2,3]) # values cannot be changed in tuple however we can change in list, only difference.

In [83]:
tup1 = (1,23,4)
tup2 = ("p","y","t")
tup3 = tup1+tup2
tup3

(1, 23, 4, 'p', 'y', 't')

In [84]:
tup2[0]

'p'

In [92]:
del(tup)

In [93]:
tup # tup is deleted

NameError: name 'tup' is not defined

### Dictionaries

In [94]:
dict1 = {"Key":"Value"} # List =[], Tuple =(), Dictionary ={"key" : "value"}

In [95]:
name = { "Weight":80, "Height":5.10}

In [96]:
print(name["Weight"])

80

In [97]:
print(name["Height"])

5.1

#### Add new element

In [98]:
name["bmi"]=22
name

{'Weight': 80, 'Height': 5.1, 'bmi': 22}

#### different ways to print values in dict

In [99]:
name.keys()

dict_keys(['Weight', 'Height', 'bmi'])

In [100]:
name.values()

dict_values([80, 5.1, 22])

In [101]:
name.items()

dict_items([('Weight', 80), ('Height', 5.1), ('bmi', 22)])

#### to delete the items in dictionaries

In [102]:
dict1.clear()
dict1

{}

#### delete in dictionary

In [103]:
del(name["bmi"])

In [104]:
name # bmi is deleted

{'Weight': 80, 'Height': 5.1}